.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
plots
plots/*
resources/GSF_spline_20171007.pkl.bz2
resources/gaggero_KRAgamma_hardening_5e7_neutrino_COGalprop_HIGalprop_healpix.V2_hd5
__pycache__
Pipfile
Pipfile.lock
icecube_10year_ps/
notebooks/Untitled.ipynb
plenum_resources.tgz
resources/detection_efficiencies.pckl
resources/inst_rel_events_ra_dec.pckl
resources/rel_events_ra_dec.pckl
resources/ratio_IC_IC2.txt
.vscode/settings.json
core/plenum.egg-info
core/plenum.egg-info/*
resources/*_contour.txt
resources/idealized_artificial_energy_smearing_kde.pckl
resources/improved_0.1_artificial_energy_smearing_kde.pckl
resources/improved_0.2_artificial_energy_smearing_kde.pckl
resources/improved_0.05_artificial_energy_smearing_kde.pckl
resources/improved_0.5_artificial_energy_smearing_kde.pckl
resources/improved_10_artificial_energy_smearing_kde.pckl
resources/artificial_energy_smearing_kde.pckl
.~lock.ngc_outline.odt#
ngc_outline.odt
Untitled.ipynb
data.ipynb
resources/txs_contour.pkl
resources/casc_events_ngc.pickle
resources/MCEq_flux_HE.pckl
resources/ngc_disc_pot.pickle
resources/ngc_performance_cut_eres.pickle
resources/ngc_spectral_disc_pot.pickle
resources/txs_disc_pot.pickle
resources/txs_spectral_disc_pot_reduced_bg.pickle
resources/txs_spectral_disc_pot.pickle
resources/improved_0.1_artificial_energy_smearing_rgi.pckl
resources/improved_0.2_artificial_energy_smearing_rgi.pckl
resources/improved_0.05_artificial_energy_smearing_rgi.pckl
resources/improved_2_artificial_energy_smearing_kde.pckl
resources/improved_2_artificial_energy_smearing_rgi.pckl
resources/HE_e_smearing_rgi.pckl
resources/HE_energy_smearing_kde.pckl
resources/gamma3_disc_pot.pickle
resources/energy_smearing_2D_HE.pckl
resources/artificial_energy_smearing_rgi.pckl
resources/casc_ps_significance_ngc_full_dec-scan.pckl
resources/casc_ps_significance_txs_full_dec-scan.pckl
resources/e_psf_grid_psimax-2_bins-25.pckl
resources/energy_smearing_2D.pckl
resources/test.csv
resources/txs_time_disc_pot.pickle

resources/alexandra
resources/energy_cut_wiggle*
notebooks/sandbox/demo_flux_to_events_diffuse-alexandra-copy.ipynb
resources/exposure.csv
resources/dec_acceptance.csv
notebooks/sandbox/flux_to_events_diffuse_demo-Copy5.ipynb
notebooks/sandbox/flux_to_events_diffuse_demo-Copy5-2.ipynb
notebooks/sandbox/flux_to_events_diffuse_demo-Copy5-3.ipynb
