.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
plots
plots/*
resources/GSF_spline_20171007.pkl.bz2
resources/gaggero_KRAgamma_hardening_5e7_neutrino_COGalprop_HIGalprop_healpix.V2_hd5
__pycache__
Pipfile
Pipfile.lock
icecube_10year_ps/
notebooks/Untitled.ipynb
resources/detection_efficiencies.pckl
resources/inst_rel_events_ra_dec.pckl
resources/rel_events_ra_dec.pckl
