.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
plots
plots/*
resources/GSF_spline_20171007.pkl.bz2
resources/gaggero_KRAgamma_hardening_5e7_neutrino_COGalprop_HIGalprop_healpix.V2_hd5
__pycache__
Pipfile
Pipfile.lock
icecube_10year_ps/
notebooks/Untitled.ipynb
plenum_resources.tgz
resources/detection_efficiencies.pckl
resources/inst_rel_events_ra_dec.pckl
resources/rel_events_ra_dec.pckl
resources/ratio_IC_IC2.txt
.vscode/settings.json
core/plenum.egg-info
core/plenum.egg-info/*
notebooks/Untitled.ipynb
resources/*_contour.txt
notebooks/basic_pointlike_spectral_analysis_dev.ipynb
resources/idealized_artificial_energy_smearing_kde.pckl
resources/improved_0.1_artificial_energy_smearing_kde.pckl
resources/improved_0.2_artificial_energy_smearing_kde.pckl
resources/improved_0.05_artificial_energy_smearing_kde.pckl
resources/improved_0.5_artificial_energy_smearing_kde.pckl
resources/improved_10_artificial_energy_smearing_kde.pckl
resources/artificial_energy_smearing_kde.pckl
.~lock.ngc_outline.odt#
ngc_outline.odt
